# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Custom ignored files
*.tab
*.png
*.jpeg
*.pickle
HIVImages/*/Test/*
HIVImages/*/Train/*
HivData/*/*
SavedModels/*/*
TransferLearning/SmilesColorLipo/*
Misc/*
Preprocessing/__pycache__/ImageCreation.cpython-37.pyc
